/*Estilo general*/

*{
    box-sizing: border-box; 
}

body {
    background-color:#ebe9dd;
    font-family: "Gill Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: #443b46;
    font-size: 34px; /* Cambia el tamaño de la fuente a 34 píxeles */
}

h3{
    text-align: center;
}
